<midiRelayConfiguration>

    <timerCronExpression>0 30 18 * * ?</timerCronExpression>
    <midiDirectory>/Users/mark/midi/</midiDirectory>
    <ethrlyHostname>192.168.55.166</ethrlyHostname>
    <ethrlyPort>17494</ethrlyPort>

    <!-- "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B" -->
    <channel id="1">
        <note>C</note>
        <note>C#</note>
    </channel>

    <channel id="2">
        <note>D</note>
        <note>D#</note>
    </channel>

    <channel id="3">
        <note>E</note>
    </channel>

    <channel id="4">
        <note>F</note>
        <note>F#</note>
    </channel>

    <channel id="5">
        <note>G</note>
        <note>G#</note>
    </channel>

    <channel id="6">
        <note>A</note>
        <note>A#</note>
    </channel>

    <channel id="7">
        <note>B</note>
        <note>B#</note>
    </channel>

</midiRelayConfiguration>